<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.JobRecordMapper">

    <insert id="save" parameterType="com.example.entity.JobRecord">
        insert into jobrecord (jid,cid,tid) values(#{jid},#{cid},#{tid})
    </insert>



</mapper>